<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title-Travelar</title>
    <meta charset="utf-8">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/travelardesign/navbar/css/linearicons.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/font-awesome.min.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/bootstrap.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/magnific-popup.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/jquery-ui.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/nice-select.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/animate.min.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/owl.carousel.css">
    <link rel="stylesheet" href="/travelardesign/navbar/css/main.css">

    <link rel="stylesheet" href="/travelardesign/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/travelardesign/css/animate.css">

    <link rel="stylesheet" href="/travelardesign/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/travelardesign/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/travelardesign/css/magnific-popup.css">

    <link rel="stylesheet" href="/travelardesign/css/aos.css">

    <link rel="stylesheet" href="/travelardesign/css/ionicons.min.css">

    <link rel="stylesheet" href="/travelardesign/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/travelardesign/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/travelardesign/css/flaticon.css">
    <link rel="stylesheet" href="/travelardesign/css/icomoon.css">
    <link rel="stylesheet" href="/travelardesign/css/style.css">
    <style>
        .navdesign{
            font-size:28px;
            background-color:black;
            color:white;
        }

        .buttdesign{
             background-color:black;color:white;
             border-radius:20px;border:none;font-size:18px;
             padding:5px 5px;width:110px;
        }
        .buttdesign:hover{
             background-color:darkblue;color:white;
             border-radius:20px;border:none;font-size:20px;
             padding:5px 5px;width:130px;
        }
    </style>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)

    <script src="/travelardesign/navbar/js/jquery.min.js"></script>
    <script src="/travelardesign/navbar/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/travelardesign/navbar/js/popper.min.js"></script>
    <script src="/travelardesign/navbar/js/bootstrap.min.js"></script>
    <script src="/travelardesign/navbar/js/jquery.easing.1.3.js"></script>
    <script src="/travelardesign/navbar/js/jquery.waypoints.min.js"></script>
    <script src="/travelardesign/navbar/js/jquery.stellar.min.js"></script>
    <script src="/travelardesign/navbar/js/owl.carousel.min.js"></script>
    <script src="/travelardesign/navbar/js/jquery.magnific-popup.min.js"></script>
    <script src="/travelardesign/navbar/js/aos.js"></script>
    <script src="/travelardesign/navbar/js/jquery.animateNumber.min.js"></script>
    <script src="/travelardesign/navbar/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/travelardesign/navbar/js/google-map.js"></script>
    <script src="/travelardesign/navbar/js/main.js"></script>

    <script src="/travelardesign/js/jquery.min.js"></script>
    <script src="/travelardesign/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/travelardesign/js/popper.min.js"></script>
    <script src="/travelardesign/js/bootstrap.min.js"></script>
    <script src="/travelardesign/js/jquery.easing.1.3.js"></script>
    <script src="/travelardesign/js/jquery.waypoints.min.js"></script>
    <script src="/travelardesign/js/jquery.stellar.min.js"></script>
    <script src="/travelardesign/js/owl.carousel.min.js"></script>
    <script src="/travelardesign/js/jquery.magnific-popup.min.js"></script>
    <script src="/travelardesign/js/aos.js"></script>
    <script src="/travelardesign/js/jquery.animateNumber.min.js"></script>
    <script src="/travelardesign/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/travelardesign/js/google-map.js"></script>
    <script src="/travelardesign/js/main.js"></script>
</body>
</html>
