
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="default-banner active-blog-slider">
    <div class="item-slider relative" style="background: url(Content/img/slider1.jpg);background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Discover the Colorful Life</h4>
                        <h1 class="text-uppercase text-white">New Adventure time</h1>
                        <p class="text-white">
                            Get in touch with the postgraduate paternal style. <br>
                            Fun and not dependent on magazines. You can do it.
                        </p>
                        <a href="#" class="text-uppercase header-btn">Discover Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Popular Destinations</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/dhaka.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">1500BDT</a>
                        <h4>Ahsan Manzil</h4>
                        <p>Dhaka</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/cox.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">5500BDT</a>
                        <h4>Cox's Bazar</h4>
                        <p>Chittagong</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/shat.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">3200BDT</a>
                        <h4>Shat Gombuj Masjid</h4>
                        <p>Khulna</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/chi.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">6500BDT</a>
                        <h4>Nilgiri Mountains</h4>
                        <p>Chittagong</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/buddist.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">6500BDT</a>
                        <h4>Golden Temple</h4>
                        <p>Chittagong</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img src="Content/img/kan.jpg" alt="" width="200" height="200">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">4500BDT</a>
                        <h4>Kantanagar Temple</h4>
                        <p>Rangpur</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>

 
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">We Provide Affordable Prices</h1>
                    <p>Well educated, intellectual people, especially scientists at all times demonstrate considerably.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <h4>Cheap Packages</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Dhaka</span>
                            <a href="#" class="price-btn">2000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Chittagong</span>
                            <a href="#" class="price-btn">6500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Barisal</span>
                            <a href="#" class="price-btn">5500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Khulna</span>
                            <a href="#" class="price-btn">4500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Sylhet</span>
                            <a href="#" class="price-btn">5500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Mymensingh</span>
                            <a href="#" class="price-btn">3500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rangpur</span>
                            <a href="#" class="price-btn">5500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rajshahi</span>
                            <a href="#" class="price-btn">5500BDT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <h4>Luxury Packages</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Dhaka</span>
                            <a href="#" class="price-btn">3000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Chittagong</span>
                            <a href="#" class="price-btn">8000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Barisal</span>
                            <a href="#" class="price-btn">7000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Khulna</span>
                            <a href="#" class="price-btn">6000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Sylhet</span>
                            <a href="#" class="price-btn">7000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Mymensingh</span>
                            <a href="#" class="price-btn">4500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rangpur</span>
                            <a href="#" class="price-btn">6500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rajshahi</span>
                            <a href="#" class="price-btn">7500BDT</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <h4>Camping Packages</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Dhaka</span>
                            <a href="#" class="price-btn">4000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Chittagong</span>
                            <a href="#" class="price-btn">9000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Barisal</span>
                            <a href="#" class="price-btn">8000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Khulna</span>
                            <a href="#" class="price-btn">7000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Sylhet</span>
                            <a href="#" class="price-btn">8000BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Mymensingh</span>
                            <a href="#" class="price-btn">5500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rangpur</span>
                            <a href="#" class="price-btn">7500BDT</a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Rajshahi</span>
                            <a href="#" class="price-btn">8500BDT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  
<section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Other issues we can help you with</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img src="Content/img/ho.jpg" alt="" width="150px" height="150px">
                    </div>
                    <a href="#">
                        <h4>Rent a House</h4>
                    </a>
                    <p>
                        The preservation of human life is the ultimate value, a pillar of ethics and the foundation.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img src="Content/img/doctor.jpg" alt="" width="150px" height="150px">
                    </div>
                    <a href="#">
                        <h4>Crafted with Care</h4>
                    </a>
                    <p>
                        I was always somebody who felt quite sorry for myself, what I had not got compared.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img src="Content/img/o3.jpg" alt="" width="150px" height="150px">
                    </div>
                    <a href="#">
                        <h4>To Do List</h4>
                    </a>
                    <p>
                        The following article covers a topic that has recently moved to center stage–at least it seems.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img src="Content/img/food.jpg" alt="" width="150px" height="150px">
                    </div>
                    <a href="#">
                        <h4>Food Features</h4>
                    </a>
                    <p>
                        There are many kinds of narratives and organizing principles. Science is driven by evidence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
 
<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonial from our Clients</h1>
                    <p> Learn to love learning and growth. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="Content/img-fluid" src="img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            I love visiting the Tourist Assistant site.Their packages are very well organized
                            and their tourist guides are very sincere.
                        </p>
                        <h4>Samiha Afrin</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="Content/img/elements/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>

                            Their travel guide is very friendly.Showed me around everywhere in time.
                        </p>
                        <h4>Panjeben Panna</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>

                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="Content/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>

                            From here I found a safe hotel and get a discount by booking the hotel from Tourist Assistant site.
                            It was a pleasure for me.
                        </p>
                        <h4>Mita Halder</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="Content/img/elements/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>

                            Last week, I visited to Sazek Valley of Chittagong with a camping package.However, I'll give them ten to seven star.
                        </p>
                        <h4>Pew Priya</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="Content/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            I love visiting the Tourist Assistant site.Their packages are very well organized
                            and their tourist guides are very sincere.
                        </p>
                        <h4>Bithi</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="Content/img/elements/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Last month, I traveled to Cox's Bazar with a luxury package.However, I'll give them ten to nine.
                        </p>
                        <h4>Nishita Saha</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 col-md-12 home-about-left">
                <h1>
                    Did not find your Package? <br>
                    Feel free to ask us. <br>
                    We'll make it for you
                </h1>
                <p>
                    We are offering you a Cheap price and glamor value package.You are also getting a package for spot camping.In our service you can get an individual guide for your hearty trip.
                </p>
                <a href="#" class="primary-btn text-uppercase">request custom price</a>
            </div>
            <div class="col-lg-6 col-md-12 home-about-right no-padding">
                <img class="img-fluid" src="Content/img/tea.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Latest from Our Discovery</h1>
                    <p>With the exception of Traveler, no other madman has contributed so much to human sanity as has.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/lalon.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Majar of lalon Shah,Kushtia</h4></a>
                        <p>

                            Lalon Shah (1774-1890) Baul guru, and singer and composer of baul songs. According to tradition, he was born into a kayastha family in the village of Bhandara in Kushtia.
                        </p>
                        <h6 class="date">1st January,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/so.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Sonargaon, Narayanganj </h4></a>
                        <p>
                            Sonargaon is a historic city in central Bangladesh. It is one of the old capitals of the historic region of Bengal and was an administrative center of eastern Bengal.
                        </p>
                        <h6 class="date">5th January,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/tang.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Tanguar Haor</h4></a>
                        <p>
                            Tanguar haor located in the Dharmapasha and Tahirpur upazilas of Sunamganj District in Bangladesh, is a unique wetland ecosystem of national importance and has come into international focus.
                        </p>
                        <h6 class="date">15th February,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/jaf.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Jaflong, Sylhet</h4></a>
                        <p>
                            Jaflong is a union situated at Bangladesh-India border. Jaflong is a landscape beauty among gardens and hills. It is situated next to the river Peain round Hill Khashia.
                        </p>
                        <h6 class="date">20st February,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/sa.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Sajek valley</h4></a>
                        <p>
                            Sajek is a union at Baghaichari Upazila in Rangamati districts. Basically it is name of a river which separates Bangladesh from India.
                        </p>
                        <h6 class="date">10th March,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/far.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Nabanna Utsab</h4></a>
                        <p>
                            Nabanna literally means 'Nobo-Onno', or New Rice. This is a Bengali harvest celebration usually celebrated with food, dance and music.
                        </p>
                        <h6 class="date">3rd April,2020</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

