
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TravelGuide_Layout.cshtml";
}

<section class="default-banner active-blog-slider">
    <div class="item-slider relative" style="background: url(/Content/img/sun.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        ">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container" style="padding:250px">
            <h2 style="text-align:center;color:white"><i><strong>WELCOME<br />Find Your Desired Job!</strong></i></h2>
        </div>
    </div>

</section>
<br />

<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Latest from Our Discovery</h1>
                    <p>With the exception of Traveler, no other madman has contributed so much to human sanity as has.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/lalon.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Majar of lalon Shah,Kushtia</h4></a>
                        <p>

                            Lalon Shah (1774-1890) Baul guru, and singer and composer of baul songs. According to tradition, he was born into a kayastha family in the village of Bhandara in Kushtia.
                        </p>
                        <h6 class="date">1st January,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/so.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Sonargaon, Narayanganj </h4></a>
                        <p>
                            Sonargaon is a historic city in central Bangladesh. It is one of the old capitals of the historic region of Bengal and was an administrative center of eastern Bengal.
                        </p>
                        <h6 class="date">5th January,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/tang.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Tanguar Haor</h4></a>
                        <p>
                            Tanguar haor located in the Dharmapasha and Tahirpur upazilas of Sunamganj District in Bangladesh, is a unique wetland ecosystem of national importance and has come into international focus.
                        </p>
                        <h6 class="date">15th February,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/jaf.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Jaflong, Sylhet</h4></a>
                        <p>
                            Jaflong is a union situated at Bangladesh-India border. Jaflong is a landscape beauty among gardens and hills. It is situated next to the river Peain round Hill Khashia.
                        </p>
                        <h6 class="date">20st February,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/sa.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Sajek valley</h4></a>
                        <p>
                            Sajek is a union at Baghaichari Upazila in Rangamati districts. Basically it is name of a river which separates Bangladesh from India.
                        </p>
                        <h6 class="date">10th March,2020</h6>
                    </div>
                </div>
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img src="Content/img/far.jpg" alt="Cinque Terre" width="304" height="236">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Nabanna Utsab</h4></a>
                        <p>
                            Nabanna literally means 'Nobo-Onno', or New Rice. This is a Bengali harvest celebration usually celebrated with food, dance and music.
                        </p>
                        <h6 class="date">3rd April,2020</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


